VITE_OPENAI_API_KEY=sk-...
VITE_SUPABASE_DB_HOST=aws-0-ca-central-1.pooler.supabase.com
VITE_SUPABASE_DB_PORT=5432
VITE_SUPABASE_DB_NAME=postgres
VITE_SUPABASE_DB_USER=postgres.dskqckzjxckoxbubnfyu
VITE_SUPABASE_DB_PASSWORD=IFB-Inventario
VITE_SUPABASE_DB_SSL=true
VITE_SUPABASE_DB_URL=postgresql://postgres.dskqckzjxckoxbubnfyu:IFB-Inventario@aws-0-ca-central-1.pooler.supabase.com:5432/postgres
VITE_API_PORT=3001